/* CSS code */

body{
    background-color:#B5E2FA;
    font-family: 'Poppins', sans-serif;
}

 body{
    font-family: "Lato", sans-serif;
}

img{
  width: 350px;
  border: 50%;
  text-align:center;
  
  }

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #070707fb;
  overflow-x: hidden;
  transition: 0.1s;
  padding-block: 60px;
  display: block;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  color: #e2dfdf;
  display: block;
  transition: 0.1s;
}

.sidenav a:hover {
  color: #f1f1f1;
  display: block;
}

.sidenav .closebtn {
  position: absolute;
  top: 0px;
  right: 0px;
  font-size: 36px;
  margin-left: 0px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


input[type=text] {
  width: 130px;
  box-sizing: border-box;
  border: 2px solid white;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url('searchicon.png');
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.2s ease-in-out;

}

input[type=text]:focus {
  width: 100%;
}